:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body,
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #242424;
}

main {
  height: 100vh;
  padding: 0 25px;
  background-color: rgb(244 246 248);
}

footer {
  color: #fff;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  color: #333;
}
